<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Welcome to PipeLife</h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
